/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --primary: #262a2e;
  --primary-accent: #313941;
  --contrast: #9fa5a4;
  --secondary: #203c70;
  --secondary-accent: #4983ff;
  --white: #fff;
  --black: #000;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-family: Impact, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--primary);
  color: var(--contrast);
  font-weight: 512;
  line-height: 1.24;
}
main {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	color: var(--secondary);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
}
p {
	font-size: 1em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--contrast);
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
