---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <h1>About Oscar Cisneros</h1>
    <h2>Fullstack Software Engineer and Web Development Instructor</h2>
    <p>I am currently building real-world knowledge and experience with web technologies and utilizing this to support local businesses by consulting with and developing, implementing, and deploying affordable websites and web services that promote business and brand growth, and minimize costs while maximizing quality and ensuring the appropriate scaling techniques according to engagement and sales trends.</p>
</Layout>