---
import HeroSection from "../components/HeroSection.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro"
import { projectsConfig } from "../lib/constants"
---

<Layout>
  <HeroSection />      
  <section class="flex flex-col items-center justify-center p-2 text-lg font-semibold text-slate-200">
    <h2>Projects</h2>
    <div class="flex flex-wrap gap-2 items-center justify-center">
      {projectsConfig.map(project => <ProjectCard project={project} />)}
    </div>
  </section>
</Layout>
