<section class="md:relative bg-hero-pattern aspect-video w-full p-2">
  <div class="m-4 md:m-0 md:w-1/3 md:absolute md:top-4 md:left-2 bg-zinc-800 rounded-md border-2 border-slate-400">
    <h2 class="flex flex-col text-white py-8 px-16 text-3xl font-semibold"><p class="pr-2">Welcome to my</p><br /><span class="text-blue-700 font-extrabold pr-2">Developer</span><p class="text-slate-400 font-extrabold">Porfolio</p></h2>
  </div>
  <div class="m-4 md:m-0 md:absolute md:bottom-2 md:right-2 bg-blue-900 p-4 md:w-3/5 md:max-w-[500px] text-md text-slate-200 border-2 border-slate-400 rounded-md">
    <p class="mb-2 p-1">
      Hello, my name is <stron>Oscar</strong>, and I am a <strong>Software Developer</strong> based out of the <strong>L.A. Metro Area, California</strong>.
    </p>
    <p class="p-1">
      I have worked with a variety of programming languages and technologies including:
      <strong>JavaScript</strong>, <strong>TypeScript</strong>, <strong>Python</strong>, <strong>Go</strong>, <strong>C</strong>, <strong>C++</strong>, and <strong>Rust</strong>.
      I am always looking to learn new things and improve my skills as a developer, and ultimately hope to become a backend developer with knowledge of Dev Ops.
      A recent graduate of CSU Fullerton with a B.S. in Computer Science, I am currently employed as a Web Development Remote Instructor with The Last Mile, an nonprofit organization which aims to unlock the full potential of justice-impacted individuals through technology education.
    </p>
  </div>
</section>
