<section class="relative bg-hero-pattern aspect-video w-full">
  <div class="absolute top-4 left-2 bg-zinc-800 rounded-md border-2 border-slate-400">
    <h2 class="flex flex-col text-white py-8 px-16 text-3xl font-semibold"><p class="pr-2">Welcome to my</p><br /><span class="text-blue-700 font-extrabold pr-2">Developer</span><p class="text-slate-400 font-extrabold">Porfolio</p></h2>
  </div>
  <div class="absolute bottom-2 right-2 bg-blue-900 p-4 w-3/5 max-w-[600px] text-md text-slate-200 border-2 border-slate-400 rounded-md">
    <p class="mb-2 p-2">
      Hello, my name is <stron>Oscar</strong>, and I am a <strong>Software Developer</strong> based out of <strong>LA Metro Area</strong>, California.
      I have a passion for software development and applying software engineering tools and practices to solving problems and delivering quality applications,
      APIs, and services! I have experience with a wide range of technologies due to an endless curiosity and a desire to learn and try new things no matter how challenging they may be!
    </p>
    <p class="p-2">
      I have experience working with a variety of programming languages and technologies including:
      <strong>JavaScript</strong>, <strong>TypeScript</strong>, <strong>Python</strong>, <strong>Go</strong>, <strong>C</strong>, <strong>C++</strong>, and <strong>Rust</strong>.
      I am always looking to learn new things and improve my skills as a developer. My ideal role would be in web development- particularly in backend engineering, although I am also
      interested in frontend, fullstack, mobile, and devops.
    </p>
  </div>
</section>
