---
import '@fontsource/fira-code';
import Head from '../components/Head.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from "../lib/constants";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<Head  title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-stone-950 text-emerald-200">
		<Header />
		<main class="min-h-screen flex flex-col items-center">
			<slot />
		</main>
		<footer>
			&copy;2022 Oscar Cisneros, All rights reserved.
		</footer>
	</body>
	<style>
		.fira {
			font-family: "Fira Code", monospace;
		}
	</style>
</html>
